$w3 : 33.3333%;
/* 화면너비 1024px 이하에서 적용 */
/* 3 grid */
@media screen and (max-width: 1024px) {
  .m1 {
    width: 100%;
  }
  .m2 {
    width: $w3 * 2;
  }
  .m3 {
    width: $w3;
  }
  .m4 {
    width: $w3;
  }
  .m5 {
    width: $w3 * 2;
  }
  .m6 {
    display: none;
  }
  .m7 {
    width: $w3;
  }
  .m8 {
    display: none;
  }
  .m9 {
    display: none;
  }
  .m10 {
    width: $w3;
  }
  .m11 {
    width: $w3;
  }
  .m12 {
    display: none;
  }
}