/* 
  css/font.css
*/

/* 구글웹폰트 */
@import url('https://fonts.googleapis.com/css?family=Noto+Sans+KR|Poiret+One&display=swap');

html {
  font-family: 'Poiret One', 'Noto Sans KR', sans-serif;
  font-size: 14px;
  line-height: 1.5;
  color: #333;
}
